html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href='favicon/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='css/libs.bundle.css')
    link(rel='stylesheet' href='css/theme.bundle.css')
    title= title
  body.d-flex.flex-column
    block content
    script(src='js/vendor.bundle.js')
    script(src='js/theme.bundle.js')
